---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font: 'Quicksand', sans-serif;

$cursive-font: 'Pacifico', 'Tahoma', sans-serif;

$heading-font: 'Quicksand', sans-serif;

$glyph-font: 'bn-glyphs';


$brown:            #5A3A33;

$orange:           #E45238;

$yellow:           #FFA500;

$green:            #97BA60;

$blue:             #27B8B4;

$pure-white:       #FFFFFF;

$white:            #FAF5EE;

$off-white:        #CAC5BF;

$grey:             #333333;

$black:            #111111;

$light-border:     #f2f2f2;

$border:           #BAA4A3;

$text:             #7A5453;

$alberta:          '\e912';

$arrow:            '\ea3c';

$badge-bird-house: '\e918';

$badge-eagle-eye:  '\e91d';

$badge-magpie:     '\e919';

$badge-scapebook:  '\e92b';

$badge-sign-post:  '\e925';

$badge-squirrel:   '\e91a';

$bird:             '\e901';

$bird-stroke:      '\e924';

$binoculars:       '\f1e5';

$bird-house:       '\e921';

$bug:              '\f188';

$camera:           '\e91c';

$chev-left:        '\e914';

$chev-right:       '\e915';

$close:            '\e913';

$expand:           '\e98b';

$feather:          '\f02d';

$featured:         '\e91e';

$feeder1:          '\e91f';

$feeder2:          '\e922';

$feeder3:          '\e923';

$fly-south:        '\e917';

$itunes:           '\e92c';

$map:              '\f278';

$mixed:            '\e902';

$postcard:         '\f03e';

$sign-post:        '\f277';

$sticker-book:     '\e926';

@font-face {
  font-family: 'bn-glyphs';
  src: url('../fonts/icomoon.eot?v=3.2.1');
  src: url('../fonts/icomoon.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('../fonts/icomoon.woff?v=3.2.1') format('woff'), url('../fonts/icomoon.ttf?v=3.2.1') format('truetype'), url('../fonts/icomoon.svg#fontawesomeregular?v=3.2.1') format('svg');
  font-weight: normal;
  font-style: normal;
}

body, html {
  font-family: $base-font;
  font-size: 13pt;
  font-weight: 700;
  margin: 0;
  overflow-x: hidden;
  padding: 0;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  position: relative;
  width: 100%;
}

h1 {
  color: $brown;
  font-family: $heading-font;
  font-size: 42px;
  font-weight: 400;
  margin: 14px 0;
}

h2 {
  color: $brown;
  font-family: $heading-font;
  font-size: 35px;
  font-weight: 400;
  margin: 7px 0 14px;
}

h3 {
  color: $brown;
  font-size: 24px;
  font-weight: 400;
  margin: 7px 0;
}

h4 {
  color: $brown;
  font-size: 12pt;
  font-weight: 700;
  margin: 7px 0;
}

p, ul li {
  color: $text;
  line-height: 1.9em;
}

a {
  outline: none;
}

a, a:active {
  color: $blue;
}

.reverse {
  color: $pure-white!important;
  * {
    color: $pure-white!important;
  }
}

.orange {
  color: $orange;
}

.brown {
  color: $brown;
}

.blue {
  color: $blue;
}

.green {
  color: $green;
}

.yellow {
  color: $yellow;
}

.white {
  color: $white;
}

.inner-page {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

.content {
  background: $white;
  padding: 35px;
}

hr {
  background: $border;
  border: none;
  height: 1px;
  margin: 35px auto 35px;
  max-width: 60%;
}

.orange hr {
  background: $orange;
}

.brown hr {
  background: $brown;
}

.blue hr {
  background: $blue;
}

.green hr {
  background: $green;
}

.yellow hr {
  background: $yellow;
}

strong {
  font-weight: 700;
}

small {
  display: inline-block;
  padding: 3px 0 14px;
}

.hero {
  border-bottom: solid 7px $orange;
  image-rendering: -webkit-optimize-contrast;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.show-small {
  display: none;
}

.show-large {
  display: block;
}

.hero > .container-image img {
  width: 100%;
}

.hero .inner-page {
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 100%;
}

.overlay {
  bottom: 0;
  background: $blue;
  left: 0;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 0;
}

a.scroll-link {
  bottom: 14px;
  color: $pure-white;
  font-weight: 700;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 35px #000;
}

.scroll-link:before {
  border-radius: 50%;
  content: '\e917';
  display:block;
  font-family: $glyph-font;
  font-size: 49px;
  font-weight: 100;
  height: 70px;
  margin: 0 auto;
  padding: 14px 0 0;
  text-decoration: none;
  text-shadow: none;
  width: 70px;
}

.container-image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.container-pull-right {
  float: right!important;
}

.comic img {
  image-rendering: auto!important;
}

.comic h1, .comic h2, .comic h3 {
  font-family: $cursive-font;
}

.comic > div.title img {
  margin: 0;
  max-width: 375px;
  padding: 21px 2% 14px;
}

.button {
  background: $pure-white;
  color: $blue;
  border: solid 1px;
  border-radius: 7px;
  display: inline-block;
  font-weight: 700;
  min-width: 105px;
  padding: 14px 28px;
  text-decoration: none;
}

.button:hover {
  background: $blue;
  color: $pure-white!important;
}

.button:before {
  bottom: 0;
  content: ' ';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.button:after {
  content: $arrow;
  display: inline-block;
  font-family: $glyph-font;
  padding: 0 0 0 3.5px;
  vertical-align: middle;
}

.brown .button {
  color: $brown;
}

.brown .button:hover {
  background: $brown;
  color: $pure-white;
}

.orange .button {
  color: $orange;
}

.orange .button:hover {
  background: $orange;
  color: $pure-white;
}

.blue .button {
  color: $blue;
}

.blue .button:hover {
  background: $blue;
  color: $pure-white;
}

.green .button {
  color: $green;
}

.green .button:hover {
  background: $green;
  color: $pure-white;
}

.yellow .button {
  color: $yellow;
}

.yellow .button:hover {
  background: $yellow;
  color: $pure-white;
}

.divider {
  border-top: solid 7px;
  position: relative;
  text-align: center;
}

.divider > h1, .divider > h2 {
  color: $white;
  background: $orange;
  display: inline-block;
  font-family: $cursive-font;
  line-height: 1.1;
  margin: 0;
  padding: 7px 21px 21px;
  top: -1px;
}

.divider.green {
  border-color: $green;
}

.divider.yellow {
  border-color: $yellow;
}

.divider.green > h1, .divider.green > h2 {
  background: $green;
}

.divider.blue > h1, .divider.blue > h2 {
  background: $blue;
}

.divider.yellow > h1, .divider.yellow > h2 {
  background: $yellow;
}

@media(max-width: 991px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 21px;
  }

  .headline.fancy h1 {
    font-size: 56pt;
  }

  .container-pull-right {
    float: none!important;
  }
}

@media(max-width: 767px) {

  body, html {
    font-size: 12pt;
  }

  main {
    padding-bottom: 35px;
  }

  .content {
    padding: 21px 14px;
  }

  .comic > div.title img {
    max-width: 240px;
  }

  .show-small {
    display: block;
  }

  .show-large {
    display: none;
  }

  .hero > .container-image img {
    left: 50%;
    max-width: 1600px;
    position: relative;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  .hero.tall > .container-image img {
    width: auto;
  }

}

@media(max-width: 321px) {
  .content {
    padding: 21px 7px;
  }
}

@import "grid";
@import "navigation";
@import "headlines";
@import "home";
@import "tiles";
@import "expeditions";
@import "essentials";
@import "about";
@import "featured";
@import "litebox";
@import "slider";
@import "decoration";
