---
layout: default
title: Expeditions
permalink: /expeditions/
section: "expeditions"
sitemap:
    priority: 0.9
    changefreq: 'weekly'
---


<div class="container-fluid no-gutter-xs" id="expeditions-list">


    <div class="hero tall col-xs-12 no-gutter-xs">
        <div class="container-image show-large">
            <img src="{{ "/images/hero-expeditions.jpg" | prepend: site.baseurl }}" alt="">
        </div>
        <div class="container-image show-small">
            <img src="{{ "/images/hero-expeditions-small.jpg" | prepend: site.baseurl }}" alt="">
        </div>
        <div class="inner-page">
            <div class="headline fancy right expeditions">
                <h3>– Bird Nerds –</h3>
                <h1>Expeditions</h1>
            </div>
        </div>
    </div>

    <div class="clearfix"> </div>

    <div class="content" style="background: #FFF">
        <div class="slim blue" style="text-align: center">
            <p>For us, birding is a form of meditation that provides relaxation and exercise.  We post our field notes here along with pictures from our trips.</p>
        </div>
    </div>

    <div class="content">
        <div class="inner-page">

            {% for post in site.posts offset:idx %}
                {% if post.categories contains 'expeditions' %}

                    <div class="col-xs-12 col-md-3 tile exp blue">
                        <a href="{{ post.permalink | prepend: site.baseurl }}">
                            <div class="container-image">
                                <img src="{{"/images/" | prepend: site.baseurl | append: post.thumbnail}}" alt="">
                            </div>
                            <h3>{{post.title}}</h3>
                            <p>{{post.description}}</p>
                            <div class="clearfix"></div>
                        </a>
                    </div>

                {%endif%}
            {%endfor%}
            <div class="clearfix"> </div>
        </div>
    </div>
</div>



<div class="clearfix"></div>