---
layout: default
permalink: /essentials/featured-birds/
title:  "Featured Birds"
description: "The list of all featured birds (past & present) that have been listed on the bird nerds website"
date:   2011-11-11 11:11:11 -0700
categories: essentials featured birds
thumbnail: 2016-12-12-downy-sm.jpg
section: essentials
---

<div id="featured-birds-article">
    <div class="content">
        <div class="slim orange" style="text-align: center;">
            <h1>Featured Birds</h1>
            <p>The Bird Nerds think that all birds are cool but every few months we pick a species and showcase it.  Every bird we choose includes some neat facts.  Here is the list of previously featured birds:</p>
        </div>
    </div>

    <div class="content">
        <div class="inner-page">
            {% for post in site.posts %}
            {% if post.categories contains 'feature' %}
            {{ post.content }}
            {% endif %}
            {% endfor %}
            <div class="col-xs-12" style="text-align: center;">
                <p><a href="{{ '/essentials/' | prepend: site.baseurl }}" class="button">Back to Essentials</a></p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>