
<div class="inner-page">
    <div id="follow">
        <a href="//www.instagram.com/birdnerdsca/" class="insta">Instagram</a>
        <a href="//facebook.com/birdnerdsca/" class="fb">Facebook</a>
        <a href="//twitter.com/bird_nerds/" class="twitter">Twitter</a>
        <a href="mailto:birdnerdsca@gmail.com" class="mail">Mail</a>
    </div>
</div>


<footer class="site-footer">
    <div class="inner-page">
        <div id="garnish">
            <span class="w01"> </span><span class="w02"> </span><span class="w03"> </span><span class="w04"> </span><span class="w05"> </span> </span><span class="w06"> </span>
            <span class="w07"> </span><span class="w08"> </span><span class="w09"> </span><span class="w10"> </span>
        </div>
        <p>&copy; Vince & Sandra 2017</p>
    </div>
</footer>

<script type="text/javascript">

    // -> hamburger nav

    var menuButton = document.getElementById("link-menu");
    if(menuButton) {
        menuButton.onclick = toggleMenu;
    }

    function toggleMenu(event) {
        var el = event.target;
        if ( -1 !== el.className.indexOf( "active" ) ) {
            el.className = el.className.replace( " active", "" );
        } else {
            el.className += " active"
        }
        event.preventDefault();
    }


    // -> pagination

    var showAllButton = document.getElementById("link-show-all");
    if(showAllButton) {
        showAllButton.onclick = showAll;
    }

    function showAll(event) {
        var showAllButton = document.getElementById("link-show-all");
        if(showAllButton) {
            var lazy = document.getElementsByClassName("lazy");
            for(var i=0; i<lazy.length; i++){
                lazy[i].src = lazy[i].getAttribute("data-src");
            }
            showAllButton.classList.add("active");
            if(event) {
                event.preventDefault();
            }
        }

    }


    // -> liteboxes

    var liteboxLinks = document.querySelectorAll(".link-litebox");
    for (var i=0; i < liteboxLinks.length; i++) {
        liteboxLinks[i].addEventListener("click", showLitebox);
    }

    var prevNextLinks = document.querySelectorAll(".prev-link, .next-link");
    for (var i=0; i < prevNextLinks.length; i++) {
        prevNextLinks[i].addEventListener("click", switchLitebox);
    }

    var closeLinks = document.querySelectorAll(".close-link");
    for (var i=0; i < closeLinks.length; i++) {
        closeLinks[i].addEventListener("click", hideAllLiteboxes);
    }

    function showLitebox(event) {
        if(event) {
            event.preventDefault();
        }
        var id = this.getAttribute("href").replace("#", "");
        var litebox = document.getElementById(id);
        var lazy = litebox.querySelector(".lazy");
        lazy.src = lazy.getAttribute("data-src");
        document.body.style.top = "-" + window.scrollY + "px";
        document.body.style.position = "fixed"
        document.body.classList.add("litebox-open");
        litebox.classList.add("active");
    }

    function switchLitebox(event) {
        if(event) {
            event.preventDefault();
        }
        var id = this.getAttribute("href").replace("#", "");
        var litebox = document.getElementById(id);
        var lazy = litebox.querySelector(".lazy");
        lazy.src = lazy.getAttribute("data-src");
        hideAllLiteboxes();
        litebox.classList.add("active");
    }

    function hideAllLiteboxes(event) {
        if(event) {
            event.preventDefault();
            const scrollY = document.body.style.top;
            document.body.style.position = "";
            document.body.style.top = '';
            document.body.classList.remove("litebox-open");
            window.scrollTo(0, parseInt(scrollY || '0') * -1);
            const loc = window.location;
            // history.pushState("", document.title, loc.pathname + loc.search);
        }
        var openLitebox = document.querySelectorAll(".container-litebox.active");
        for (var i=0; i < openLitebox.length; i++) {
            openLitebox[i].classList.remove("active");
        }
    }

    function positionPrevNext() {
        var w = document.querySelector(".container-pull-right").offsetWidth - 21;
        var h = document.querySelector(".container-pull-right").offsetHeight - 42;
        var prevNext = document.querySelectorAll(".prev-link, .next-link");
        if(w / h < 1.5) {
            var top = (w * (2 / 3 )) / 2;
            for(var i=0; i < prevNext.length; i++) {
                prevNext[i].style.top =  top + 10.5 + 'px';
            }
        }
    }

    document.addEventListener("keyup", function (event) {
        if ( event.key == "Escape" )   {
            hideAllLiteboxes(event);
        }
    });

    var hasLitebox = document.querySelector(".container-litebox");
    if(hasLitebox) {
        positionPrevNext();
        window.addEventListener("resize", positionPrevNext);
    }


    // -> tab

    var tabs = document.querySelectorAll("#locations-article .tab");
    for (var i=0; i < tabs.length; i++) {
        tabs[i].addEventListener("click", showTab);
    }

    function showTab(event) {
        var parent = document.getElementById("locations-article");
        var spot = this.getAttribute("data-spot");
        parent.classList.remove("calgary-spot");
        parent.classList.remove("alberta-spot");
        parent.classList.add(spot);
        var tabs = document.querySelectorAll("#locations-article .tab");
        for (var i=0; i < tabs.length; i++) {
            tabs[i].classList.remove("active");
        }
        this.classList.add("active");
    }


    // -> virtual birding

    var decorations = document.querySelectorAll(".decoration img");
    for(var i=0; i<decorations.length; i++) {
        decorations[i].addEventListener("click", birdFound);
    }

    function birdFound(event) {
        var birdList = window.sessionStorage.getItem("birdList");
        birdList = birdList ? birdList : "";
        var bird = this.parentElement.classList[1];
        if(birdList.indexOf(bird) < 0) {
            birdList = birdList ? birdList.split(",") : [];
            birdList.push(bird);
            window.sessionStorage.setItem("birdList", birdList.join(","));

        }
        var button = document.querySelector(".button.virtual-birding");
        if(button) {
            button.classList.add("active");
            button.classList.add("updated");
            setTimeout(function() { button.classList.remove("updated")}, 3500);
        }
        if(event) {
            event.preventDefault();
            event.stopPropagation();
        }
    }

</script>



