
<div class="inner-page">
    <div id="follow">
        <h4>Follow us!</h4>
        <a href="#mail" class="mail">Mail</a>
        <a href="#instagram" class="insta">Instagram</a>
    </div>
</div>


<footer class="site-footer">
    <div class="inner-page">
        <div id="garnish">
            <span class="w01"> </span><span class="w02"> </span><span class="w03"> </span><span class="w04"> </span><span class="w05"> </span> </span><span class="w06"> </span>
            <span class="w07"> </span><span class="w08"> </span><span class="w09"> </span><span class="w10"> </span>
        </div>
        <p>&copy; Vince & Sandra 2017</p>
    </div>

</footer>





