
<div class="inner-page">
    <div id="follow">
        <a href="//www.instagram.com/birdnerdsca/" class="insta">Instagram</a>
        <a href="//facebook.com/birdnerdsca/" class="fb">Facebook</a>
        <a href="//twitter.com/bird_nerds/" class="twitter">Twitter</a>
        <a href="mailto:birdnerdsca@gmail.com" class="mail">Mail</a>
    </div>
</div>


<footer class="site-footer">
    <div class="inner-page">
        <div id="garnish">
            <span class="w01"> </span><span class="w02"> </span><span class="w03"> </span><span class="w04"> </span><span class="w05"> </span> </span><span class="w06"> </span>
            <span class="w07"> </span><span class="w08"> </span><span class="w09"> </span><span class="w10"> </span>
        </div>
        <p>&copy; Vince & Sandra 2017</p>
    </div>
</footer>

<script type="text/javascript">
    $(document).ready(function() {
        $(".menu-toggle").on("click", function () {
            $(this).toggleClass("active");
        });
    });
</script>




