<header class="site-header">


  <nav>
    <div class="col-sm-4">
      <a href="/" class="site-title">Bird Nerds</a>
    </div>
    <a href="#" class="menu-toggle">Menu</a>
    <div class="container-menu">
      <div class="col-sm-2">
        <a href="/" class="home">Home</a>
      </div>
      <div class="col-sm-2">
        <a href="/expeditions/" class="expeditions">Expeditions</a>
      </div>
      <div class="col-sm-2">
        <a href="/essentials/" class="essentials">Essentials</a>
      </div>
      <div class="col-sm-2">
        <a href="/about/" class="about">About</a>
      </div>
    </div>
  </nav>

</header>
