<div class="container-litebox photo" id="{{ include.photo }}">

    {% include header-light.html %}
    <a class="close-link" href="~" onclick="window.history.back();return false;">Close</a>

    <section class="page-content clearfix">

        <div class="container-pull-right clearfix">
            <div class="container-photo">
                <img src="" data-src="{{ '/images/' | prepend: site.baseurl | append: include.photo | append: '-lg.jpg' }}" class="lazy" alt="">

                <a class="prev-link" href="#{{ include.previous }}">Previous</a>

                <a class="next-link" href="#{{ include.next }}">Next</a>
            </div>
        </div>

        <div class="photo-description">
            <p>{{ include.description }}</p>
        </div>
    </section>

</div>