#about .hero {
  border-color: $yellow;
}

.headline.fancy.about * {
  color: $white;
  line-height: 1.1;
  margin: 0px auto;
  padding: 0;
}

.headline.fancy.about h1 {
  color: $white;
  text-shadow: 0 5px 0 $yellow;
}