.decoration {

  left: 0;
  right: 0;

  img {
    cursor: zoom-in;
    cursor: url("../images/binoculars.png"), pointer;
    pointer-events: auto;
  }

  &.bluejay {
    img {
      max-width: 280px;
    }
  }


  &.chickadee {
    img {
      max-width: 189px;
      position: absolute;
      right: 0;
      transform: translate(35%, -94%);
    }

    @media(max-width: 767px) {
      img {
        max-width: 168px;
      }
    }
  }

  &.eagle {
    img {
      max-width: 140px;
      position: absolute;
      right: 0;
      transform: translate(0%, -84%);
    }

    @media(max-width: 767px) {
      img {
        max-width: 119px;
      }
    }
  }


  &.flicker {

    position: absolute;

    img {
      max-width: 175px;
      position: absolute;
      left: 42%;
      top: 0;
      transform: translate(-50%, -3.5%);
    }
  }


  &.gh-owl {

    position: absolute;

    img {
      left: 50%;
      position: absolute;
      transform: translate(-50%, -49%);
      width: 175px;
      z-index: 70;
    }

    @media(max-width: 767px) {
      position: static;

      img {
        position: static;
        margin-top: -49px;
        transform: none;
      }
    }
  }


  &.goldfinch {
    max-width: 140px;
  }


  &.goldeneye {
    img {
      max-width: 224px;
    }
  }


  &.grosbeak {
    text-align: center;

    img {
      transform: translate(-49px, 28px);
    }

    @media(max-width: 767px) {
      img {
        max-width: 210px!important;
      }
    }
  }

  &.kestrel {

    position: absolute;

    img {
      left: 140px;
      margin-top: -189px;
      max-width: 210px;
      position: absolute;
      z-index:21;
    }

    @media(max-width: 767px) {

      img {
        left: -28px;
        margin-top: -157px;
        max-width: 175px;
      }
    }
  }


  &.kingfisher {
    img {
      max-width: 147px;
      position: absolute;
      top: -70px;
      right: 0;
    }
  }


  &.nuthatch {

    position: absolute;

    img {
      margin-top: -35px;
      max-width: 210px;
      position: absolute;
      right: 21px;
      z-index: 14;
    }

    @media(max-width: 767px) {
      img {
        top: 63px;
      }
    }
  }


  &.pintail {
    img {
      bottom: -14px;
      max-width: 248px;
      position: absolute;
      right: 126px;
      z-index: 14;
    }

    @media(max-width: 767px) {
      img {
        bottom: -42px;
        max-width: 210px;
        right: -70px;
      }

    }
  }


  &.rb-nuthatch {
    img {
      left: 0;
      max-width: 168px;
      position: absolute;
      top: -70px;
      z-index: 14;
    }

    @media(max-width: 767px) {
      img {
        left: 14px;
        max-width: 140px;
        top: -56px;
      }
    }
  }

  &.stilt {

    position: absolute;

    img {
      max-width: 175px;
      position: absolute;
      right: 21%;
      transform: translateY(-77%);
    }

    @media(max-width: 767px) {

      img {
        left: 21px;
        max-width: 105px;
        right: auto;
        transform: scaleX(-1) translateY(-84%);
      }
    }
  }

  &.warbler {
    img {
      max-width: 175px;
    }
  }

  &.woodduck {
    img {
      max-width: 210px;
    }
  }

  &.vulture {
    img {
      max-width: 210px;
    }
  }

}

.stickers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  .container-image {
    max-width: 30%;
    padding: 21px;
    text-align: center;
  }

  img {
    filter: contrast(0) sepia(100%) hue-rotate(190deg) saturate(2000%) brightness(100%);
    filter: contrast(0%) brightness(50%);

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      opacity: 0.21;  // Internet Explorer Only
    }
  }

  .active img {
    filter: none;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      opacity: 1;
    }
  }

  @media(max-width: 767px) {

    .container-image {
      flex-shrink: 3;
      max-width: 33.333333333%;
      padding: 7px;
    }

    img {
      max-height: 105px;
    }
  }
}


@keyframes intervalButtonBorder {
  0% {
    border: 2px solid $orange;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}

.button.virtual-birding {
  background: $orange;
  border-color: $orange;
  border-radius: 7px;
  color: $white!important;
  opacity: 0;
  position: fixed;
  bottom: 3.5%;
  height: 70px;
  min-width: 0;
  right: 3.5%;
  transition: opacity ease-in-out 0.14s;
  width: 70px;
  z-index: 700;

  &.active {
    opacity: 1;
  }

  span {
    font-size: 0;
  }

  &.updated {
    &:before {
      width: 105px;
      height: 105px;
      box-sizing: border-box;
      content: '';
      display: block;
      position: absolute;
      top: -17.5px;
      left: -17.5px;
      pointer-events: none;
      border: 2px solid transparent;
      border-radius: 50%;
      animation-duration: 1.2s;
      animation-name: intervalButtonBorder;
      animation-iteration-count: 3;
    }
  }

  &:after {
    content: $sticker-book;
    font-size: 35pt;
    font-weight: 100;
    top: 50%;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-56%);
  }
}

#virtual-birding-finish {
  display: none;

  &.active {
    display: block;
  }
}

