.headline.fancy.essentials * {
    color: $white;
    line-height: 1.1;
    margin: 0px auto;
    padding: 0;
}

.headline.fancy.essentials h1 {
    text-shadow: 0 5px 0 $green;
}

#essentials .tile a {
    padding-bottom: 49px;
}

#featured-birds a:before,
#bird-photography a:before {
    background: $orange;
    color: $white;
    content: ' ';
    display: block;
    font-family: bn-glyphs;
    font-size: 112pt;
    font-weight: 100;
    padding: 14px 0;
    text-align: center;
}

#featured-birds a:before {
    background: $orange;
    content: $featured;
}

#bird-photography a:before {
    background: $yellow;
    content: $camera;
}

ul.definition > li > p {
    color: $text;

}

.slim {
    margin: 0 auto;
    max-width: 700px;
}

.slim.orange * {
    color: $orange;
}

.slim.blue * {
    color: $blue;
}

.slim.green * {
    color: $green;
}

.slim.yellow * {
    color: $yellow;
}

.slim h1:before {
    content: ' ';
    display: block;
    font-family: bn-glyphs;
    font-size: 112pt;
    font-weight: 100;
    z-index: 1;
}

#bird-feeder-article .slim h1:before {
    content: $badge-bird-house;
}

#bird-photography-article .slim h1:before {
    content: $camera;
}

#featured-birds-article .slim h1:before {
    content: $featured;
}


.magpie:before,
.squirrel:before {
    color: $brown;
    content: $badge-magpie;
    display: block;
    font-family: bn-glyphs;
    font-size: 112pt;
    font-weight: 100;
}

.squirrel:before {
    content: $badge-squirrel;
}