body.essentials {
    background: $white;
}

body.essentials.alt {
    background: $pure-white;
}

#essentials .hero {
    border-color: $green;
}

.headline.fancy.essentials * {
    color: $white;
    line-height: 1.1;
    margin: 0px auto;
    padding: 0;
}

.headline.fancy.essentials h1 {
    text-shadow: 0 5px 0 $green;
}

#essentials .tile a {
    min-height: 525px;
}

#essentials .fact {
    background: $pure-white;
    border: solid 2px $text;
    border-radius: 3px;
    margin-top: 0;
    min-height: 525px;

    @media(max-width: 991px) {
        background: none;
        border: solid 2px $brown;
        min-height: 420px;
    }
}

ul.definition > li > p {
    color: $text;
}

.slim {
    margin: 0 auto;
    max-width: 777px;
}

.slim.orange * {
    color: $orange;
}

.slim.blue * {
    color: $blue;
}

.slim.green * {
    color: $green;
}

.slim.yellow * {
    color: $yellow;
}

.slim h1:before {
    content: ' ';
    display: block;
    font-family: bn-glyphs;
    font-size: 140pt;
    font-weight: 100;
    z-index: 1;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.boxed {
    border: solid 7px;
    margin-bottom: 21px;
    padding: 0 0 14px;
    text-align: center;
}

.boxed h3 {
    background: $white;
    display: inline-block;
    left: 50%;
    margin-top: -17.5px;
    padding: 0 21px;
    position: absolute;
    transform: translateX(-50%);
}

.boxed li {
    float: left;
    padding: 0;
    margin: 0 0 0 35px;
}

#locations-article .slim h1:before {
    content: $badge-sign-post;
}

#bird-feeder-article .slim h1:before {
    content: $badge-bird-house;
}

#bird-photography-article .slim h1:before {
    content: $camera;
}

#featured-birds-article .slim h1:before {
    content: $featured;
}

#bird-identification-article .slim h1:before {
    content: $badge-eagle-eye;
}

#field-notes-article .slim h1:before {
    content: $badge-scapebook;
}

#locations-article {
    .calgary-spot, .alberta-spot {
        display: none;
    }

    &.calgary-spot .calgary-spot {
        display: block;
    }

    &.alberta-spot .alberta-spot {
        display: block;
    }
}


.magpie:before,
.squirrel:before,
.feeder-1:before,
.feeder-2:before,
.feeder-3:before {
    color: $brown;
    content: $badge-magpie;
    display: block;
    font-family: bn-glyphs;
    font-size: 112pt;
    font-weight: 100;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.squirrel:before {
    content: $badge-squirrel;
}

.feeder-1:before {
    content: $feeder1;
}

.feeder-2:before {
    content: $feeder2;
}

.feeder-3:before {
    content: $feeder3;
}

@media(max-width: 991px) {
    #essentials .fact {
        max-width: 595px;
    }

    .comic > div.title img {
        margin: 0;
        max-width: 300px;
        padding: 21px 2% 14px;
    }
}

@media(max-width: 767px) {
    .boxed ul {
        padding: 0;
    }
}

// -- vars
$default-size: 98px;
$label-font-size: 13pt;

// -- mixins
@mixin size($width, $height) {
    height: $height;
    width: $width;
}

@mixin draw-progress($progress) {
    .pie {
        .left-side {
            transform: rotate($progress * 3.6deg);
        }

        @if $progress <= 50 {
            .right-side {
                display: none;
            }
        } @else {
            clip: rect(auto, auto, auto, auto);

            .right-side {
                transform: rotate(180deg);
            }
        }
    }
}

.charts-container {
    &:after {
        clear: both;
        content: '';
        display: table;
    }
}

.pie-wrapper {
    @include size($default-size, $default-size);
    display: inline-block;
    margin: 14px;
    position: relative;

    &:nth-child(3n + 1) {
        clear: both;
    }

    @media(max-width: 767px) {
        margin: 14px 0;
        transform: scale(0.91);
    }

    &.birds {
        .label {
            color: $blue;

            &:before {
                content: $bird-stroke;
                font-weight: 400;
            }
        }

        .half-circle {
            border-color: $blue!important;
        }
    }

    &.scenery {
        .label {
            color: $green;

            &:before {
                content: $postcard;
            }
        }
        .half-circle {
            border-color: $green!important;
        }
    }

    &.difficulty {
        .label {
            color: $yellow;

            &:before {
                content: $binoculars;
            }
        }
        .half-circle {
            border-color: $yellow!important;
        }
    }

    .pie {
        @include size(100%, 100%);
        clip: rect(0, $default-size, $default-size, $default-size / 2);
        left: 0;
        position: absolute;
        top: 0;

        .half-circle {
            @include size(100%, 100%);
            border: ($default-size / 14) solid $off-white;
            border-radius: 50%;
            clip: rect(0, $default-size / 2, $default-size, 0);
            left: 0;
            position: absolute;
            top: 0;
        }
    }

    .label {
        border-radius: 50%;
        cursor: default;
        display: block;
        font-size: 14px;
        left: 50%;
        position: absolute;
        text-align: center;
        top: 49%;
        transform: translate(-50%,-50%);
    }

    .label:before {
        content: "";
        display: block;
        font-family: $glyph-font;
        font-size: 49px;
        font-style: normal;
        font-weight: 100;
        line-height: 0.77;
        width: 91px;
        z-index: 3;
    }

    .shadow {
        @include size(100%, 100%);
        border: $default-size / 14 solid $white;
        border-radius: 50%;
    }

    &.progress-30 {
        @include draw-progress(21);
    }

    &.progress-60 {
        @include draw-progress(63);
    }

    &.progress-90 {
        @include draw-progress(91);
    }

    &.progress-100 {
        @include draw-progress(100);
    }
}


.container-tabs {
    color: $orange;
    display: flex;
    font-size: 21px;
    font-weight: 700;
    margin: 0 auto;
    padding: 0 0 35px;
    text-align: center;

    ul {
        background: $orange;
        border: solid 3px $orange;
        border-radius: 70px;
        display: flex;
        list-style: none;
        margin: 21px 0 0;
        padding: 0;

        li {
            border-radius: 70px;
            color: $white;
            flex-grow: 1;
            flex-basis: 0;
            min-width: 126px;
            padding: 7px 21px;

            &.active {
                background: $pure-white;
                color: $orange;
            }

            &:not(.active) {
                &:hover {
                    cursor: pointer;
                    span {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}