body.expeditions {
    background: $white;
}

#expeditions-list .hero {
    border-color: $blue;
}

.headline.fancy.expeditions * {
    color: $white;
    line-height: 1.1;
    margin: 0px auto;
    padding: 0;
}

.headline.fancy.expeditions h1 {
    text-shadow: 0 5px 0 $blue;
}

#expedition-article .headline {
    background: rgba(250,247,242,0.7);
    padding: 28px 7px 0;
    text-align: center;
    width: 266px;
}

#expedition-article .headline:after {
    content: ' ';
    border-left: 133px solid transparent;
    border-right: 133px solid transparent;
    border-top: 42px solid rgba(250,247,242,0.7);
    bottom: -42px;
    display: block;
    height: 0;
    left: -7px;
    position: relative;
    width: 0;
    z-index: 33;
}

/*#expedition-article .headline:after {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 14%;
    bottom: -70px;
    content: ' ';
    display: block;
    left: -7px;
    position: absolute;
    right: -14px;
    top: -14px;
    transform: skew(10deg, 0deg) rotate(5deg);
    z-index: -1;
}*/

#expedition-article .headline * {
    color: $brown;
    margin: 3.5px auto;
}

#expedition-article .headline h1,
#expedition-article .headline h3 {
    max-width: 240px;
}

#expedition-article .headline h1 {
    font-family: $cursive-font;
    font-size: 49px;
    font-weight: 100;
    line-height: 1.25em;
    text-shadow: 0 3px 0 $blue;
}

#expedition-article .headline h3 {
    font-weight: 700;
    text-transform: uppercase;
}

#expedition-article .headline p {
    font-size: 11pt;
    height: 0;
    padding: 0;
}

#expedition-article .headline p:before {
    content: 'coords : ';
    display: inline;
    font-family: $cursive-font;
}

#expedition-article .headline h1:after {
    background: $blue;
    content: ' ';
    display: block;
    height: 3.5px;
    margin: 21px auto;
    width: 175px;
}

.post-content {
    border-left: solid $blue 3.5px;
    margin: 0 0 21px 7px;
    padding: 0 14px 0 21px;
}

.post-content p {
    margin: 0 21px;
}

.big img {
    margin-bottom: 21px;
}

.badges ul {
    padding: 0;
}

.badge {
    color: $text;
    display: inline-block;
    font-size: 13px;
    height: 76px;
    line-height: 1.0;
    margin: 14px 3.5px 0;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    width: 90px;
    z-index: 5;
}

.badge:before {
    content: '\e900';
    display: block;
    font-family: $glyph-font;
    font-size: 35px;
    font-style: normal;
    font-weight: normal;
    padding: 14px 0 0;
    position: absolute;
    top: 3.5px;
    width: 90px;
    z-index: 3;
}

.badge:after {
    border: solid 3.5px;
    border-radius: 50%;
    content: ' ';
    display: block;
    height: 90px;
    margin: 0;
    position: absolute;
    top: -21px;
    width: 90px;
    z-index: -1;
}

.badge.snowing:before {
    content: '\e90e';
}

.badge.windy:before {
    content: '\e8f5';
}

.badge.stormy:before {
    content: '\e8f9';
}

.badge.mixed:before {
    content: $mixed;
}

.badge.thunder:before {
    content: '\e905';
}

.badge.rain:before {
    content: '\e908';
}

.badge.buggy:before {
    content: '\f188';
}

.badge.count:before {
    content: attr(data-count);
    font-family: $base-font;
    font-size: 28px;
    font-weight: 700;
    padding: 14px 0 0;
}

.sightings ul {
    padding-left: 14px;
    padding-top: 7px;
}

.sightings li {
    float: left;
    padding: 0;
    margin: 0 0 0 35px;
}

@media(max-width: 991px) {

    #expedition-article .headline {
        top: 0;
        transform: scale(0.77);
    }

    .post-content p {
        margin: 0 7px;
    }

    .badges {
        float: left;
    }

    .badge {
        margin: 14px 3.5px 0 0;
    }
}

@media(max-width: 767px) {

    .big {
        padding-left: 0;
        padding-right: 0;
    }

    .big img {
        margin: 0;
    }

    #expedition-article .headline {
        background: $brown;
        margin: 0 auto 35px;
        position: static;
        transform: none;
        width: 100%;
    }

    #expedition-article .headline:after {
        border-left: 50vw solid transparent;
        border-right: 50vw solid transparent;
        border-top: 42px solid $brown;
        margin-top: -1px;
    }

    #expedition-article .headline,
    #expedition-article .headline *,
    #expedition-article .headline.reverse,
    #expedition-article .headline.reverse * {
        color: $white;
    }

    #expedition-article .content {
        padding: 0;
    }

    .container-image.thumbnail:nth-child(odd):after {
        content: ' ';
        display: table;
        min-height: 1px;
    }

    .sightings li {
        float: none;
    }

}

@media(max-width: 480px) {
    .badge {
        float: left;
        margin: 14px 0 0;
        transform: scale(0.80);
    }
}


