body.expeditions {
    background: $white;
}

#expeditions-list .hero {
    border-color: $blue;
}

.headline.fancy.expeditions * {
    color: $white;
    line-height: 1.1;
    margin: 0px auto;
    padding: 0;
}

.headline.fancy.expeditions h1 {
    text-shadow: 0 5px 0 $blue;
}


#expedition-article .headline {
    background: rgba(249,244,235,1);
    border-radius: 14px;
    padding: 14px 7px 0;
    text-align: center;
    width: 266px;

    * {
        color: $brown;
        margin: 3.5px auto;
    }

    h1, h3 {
        max-width: 254px;
    }

    h1 {
        font-family: $cursive-font;
        font-size: 49px;
        font-weight: 100;
        line-height: 1.26em;
        text-shadow: 0 3px 0 $blue;

        &:after {
            background: $blue;
            content: ' ';
            display: block;
            height: 3.5px;
            margin: 21px auto 14px;
            width: 175px;
        }
    }

    h3 {
        text-transform: uppercase;
    }

    p {
        font-size: 11pt;
        height: 0;

        &:after {
            content: $bird;
            font-family: $glyph-font;
            font-size: 35pt;
            display: block;
            position: relative;
            top: 14px;
            z-index:14;
        }
    }

    &:before {
        content: ' ';
        border-left: 122.5px solid transparent;
        border-right: 122.5px solid transparent;
        border-bottom: 10px solid rgba(249,244,235,1);
        display: block;
        height: 0;
        margin-left: 3.5px;
        position: absolute;
        transform: translateY(-100%);
        top: 0;
        width: 0;
        z-index: 49;
    }

    &:after {
        content: ' ';
        border-left: 122.5px solid transparent;
        border-right: 122.5px solid transparent;
        border-top: 49px solid rgba(249,244,235,1);
        display: block;
        height: 0;
        margin-left: 3.5px;
        position: static;
        transform: translateY(99%);
        width: 0;
        z-index: 7;
    }

    @media(max-width: 767px) {
        background: $brown;
        border-radius: 0;
        margin-bottom: 21px;
        padding: 14px 0 0;
        position: static;
        width: 100%;

        &:before {
            content: none;
        }

        &:after {
            content: ' ';
            border-left: 50vw solid transparent;
            border-right: 50vw solid transparent;
            border-top: 35px solid $brown;
            display: block;
            height: 0;
            margin-left: 0;
            position: static;
            transform: translateY(100%);
            width: 0;
            z-index: 7;
        }

        * {
            color: $white;
            margin: 7px auto;
        }

        h1, h3 {
            max-width: 84%;
        }

        h1 {
            font-size: 42px;
        }

        p {
            height: 14px;

            &:after {
                font-size: 31.5px;
                top: 14px;
            }
        }
    }
}



.statistic {

    padding: 0 0 49px;

    * {
        display: block;
        color: $white;
        text-align: center;
    }

    div {
        font-size: 42px;
        font-weight: 100;
    }

    div:before {
        content: $fly-south;
        display: block;
        font-family: $glyph-font;
        font-size: 49px;
        font-weight: 100;
        padding: 28px 0 7px;
        text-align: center;
        vertical-align: bottom;
    }

    div#bird-count:before {
        transform: rotate(-180deg);
        padding: 7px 0 28px;
    }

    div#ab-bird-count:before {
        content: $alberta;
    }

    div#expedition-count:before {
        content: $sign-post;
    }

    div#mosquito-count:before {
        content: $bug;
    }
}

.post-content {
    border-left: solid $blue 3.5px;
    margin: 0 0 35px 7px;
    padding: 0 14px 0 21px;
}

.post-content p {
    margin: 0 21px 21px;
}

.big img {
    margin-bottom: 7px;
}

.badges ul {
    padding: 0;
}

.badge {
    color: $text;
    display: inline-block;
    font-size: 13px;
    height: 76px;
    line-height: 1.0;
    margin: 14px 3.5px 0;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    width: 90px;
    z-index: 5;
}

.badge:before {
    content: '\e900';
    display: block;
    font-family: $glyph-font;
    font-size: 35px;
    font-style: normal;
    font-weight: normal;
    padding: 14px 0 0;
    position: absolute;
    top: 3.5px;
    width: 90px;
    z-index: 3;
}

.badge:after {
    border: solid 3.5px;
    border-radius: 50%;
    content: ' ';
    display: block;
    height: 90px;
    margin: 0;
    position: absolute;
    top: -21px;
    width: 90px;
    z-index: -1;
}

.badge.snowing:before {
    content: '\e90e';
}

.badge.windy:before {
    content: '\e8f9';
}

.badge.storm:before {
    content: '\e90a';
}

.badge.mixed:before {
    content: '\e902';
}

.badge.rain:before {
    content: '\e908';
}

.badge.buggy:before {
    content: '\f188';
}

.badge.cloudy:before {
    content: '\e904';
}

.badge.count:before {
    content: attr(data-count);
    font-family: $base-font;
    font-size: 28px;
    font-weight: 700;
    padding: 14px 0 0;
}

.sightings ul {
    padding-left: 14px;
    padding-top: 7px;
}

.sightings li {
    float: left;
    padding: 0;
    margin: 0 0 0 35px;
}

.button.next {
    background: $blue;
    border-color: $blue;
    border-radius: 14px 14px 0 0;
    color: $white!important;
    position: fixed;
    bottom: 0;
    right: 7%;
    z-index: 700;
}

.button.next:after {
    content: $chev-right;
}

.button.next:hover {
    text-decoration: underline;
}

.link-show-all {
    background: $off-white;
    clear: both;
    display: inline-block;
    margin: 70px auto;
    position: relative;
    text-decoration: none;
    width: 100%;
}

.link-show-all > div {
    padding: 70px 0;
    text-align: center;
}

.link-show-all:after {
    bottom: 0;
    content: ' ';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 21;
}

.link-show-all ~ .tile {
    display: none;
}

.link-show-all.active {
    display: block;
    height: 0;
    margin: 0!important;
    padding: 0!important;
    overflow: hidden;
    visibility: hidden;
}

.link-show-all.active ~ .tile {
    display: block;
}

@media(max-width: 991px) {

    .link-show-all {
        padding: 210px 0 35px;
    }

    .link-show-all > div {
        padding: 0;
    }

    .link-show-all:before {
        margin-top: -210px;
    }

    .post-content p {
        margin: 0 7px;
    }

    .badges {
        float: left;
    }

    .badge {
        margin: 14px 3.5px 0 0;
    }
}

@media(max-width: 767px) {

    .big {
        padding-left: 0;
        padding-right: 0;
    }

    .big img {
        margin: 0;
    }

    #expedition-article .content {
        padding: 0;
    }

    .container-image.thumbnail:nth-child(odd):after {
        content: ' ';
        display: table;
        min-height: 1px;
    }

    .sightings {
        padding-bottom: 28px;
    }

    .sightings li {
        float: none;
    }
}

@media(max-width: 480px) {

    #expedition-article section {
        overflow-x: hidden;
    }

    .big img {
        height: 280px;
        max-width: none;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
    }


    .badge {
        float: left;
        margin: 14px 0 0;
        transform: scale(0.77);
    }

    .statistic:nth-child(1), .statistic:nth-child(2) {
        border-bottom: solid 1px $blue;
    }

    .statistic:nth-child(odd) {
        border-right: solid 1px $blue;
    }
}


