.hero {
    border-bottom: solid 7px $orange;
    image-rendering: -webkit-optimize-contrast;
    overflow: hidden;
    position: relative;
    z-index: 1;
  
    .container-image {
      height: 100%;
    }

    > .container-image img {
        width: 100%;
    }
  
    img {
      height: 100%;
      object-position: center;
      object-fit: cover;
    }

    .inner-page {
        left: 50%;
        position: absolute;
        top: 0;
        transform: translateX(-50%);
        width: 100%;
      }

      @media(maxwidth: 767px) {
        > .container-image img {
            left: 50%;
            max-width: 1600px;
            position: relative;
            transform: translateX(-50%);
          }
        
          &.tall > .container-image img {
            width: auto;
          }
      }
  }
  

.headline {
    left: 50%;
    position: absolute;
    top: 49px;
    transform: translateX(-50%);
    z-index: 7;

    &.left {
        left: 105px;
        margin-left: 0;
        right: auto;
        transform: translateX(0);
    }

    &.right {
        left: auto;
        margin-left: 0;
        right: 105px;
        transform: translateX(0);
    }
}

.headline.fancy {
    text-align: center;
    width: 455px;

    * {
        color: $brown;
    }

    h1 {
        font-family: $cursive-font;
        font-size: 70pt;
        font-weight: 100;
        line-height: 1.2;
        margin: 0;
        text-shadow: 0 5px 0 $blue;
    }

    h2 {
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 3px;
    }

    h3 {
        font-family: $cursive-font;
        margin: 0;
    }

    h4 {
        letter-spacing: 5px;
    }
}

.cursive {
    font-family: $cursive-font;
    font-weight: 100;
}

@media(max-width: 1200px) {

    .headline.left {
        left: 35px;
    }

    .headline.fancy {
        transform: scale(0.84);
    }
}


@media(max-width: 991px) {

    .headline.left {
        left: 21px;
    }

    .headline.right {
        right: 21px;
    }

    .headline-fancy {
        transform: scale(0.77);
        width: 360px;
    }

    .headline.fancy h1 {
        font-size: 56pt;
      }
}

@media(max-width: 767px) {

    .headline {
        left: 0;
        margin: 0;
        max-width: 100%;
        padding: 0 14px;
    }

    .headline.fancy {
        left: 50%;
        top: 35px;
        transform: translateX(-50%) scale(1);
    }

    .headline.center {
        transform: translateX(0);
    }

    .headline.fancy.left {
        left: 50%;
    }

    .headline.fancy h1 {
        font-size: 42pt;
    }
}

@media(max-width: 321px) {
    .headline.fancy {
        transform: translateX(-50%) scale(0.84);
    }
}