.container-image.thumbnail {
  display: block;
  margin: 7px 0;
  position: relative;
}

.container-image.thumbnail img {
  width: 100%;
}

.container-image.thumbnail a:after {
  background: rgba(250,247,242,0.91);
  background: $white;
  bottom: 0;
  color: $blue;
  content: $expand;
  display: block;
  font-family: $glyph-font;
  font-size: 28px;
  font-weight: 700;
  height: 35px;
  padding: 3.5px 0 0;
  position: absolute;
  right: 7px;
  text-align: center;
  width: 35px;
}

.container-image.thumbnail a:hover:after {
  background: $blue;
  color: $white;
  border: none;
}

body.photo .page-content {
  background: #FFF;
}

body.photo .container-pull-right {
  width: 100%;
  width: calc(100% - 310px);
}

.container-photo {
  float: left;
  height: calc(100vh - 70px);
  overflow: hidden;
  padding: 21px 21px 21px 0;
  position: relative;
  max-width: 100%;
  width: auto;
}

.container-video {
  height: calc(100vh - 91px);
  overflow: hidden;
  padding: 21px 21px 21px 0;
  position: relative;
  width: 100%;
}

.container-photo img {
  display: block;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  width: auto;
}

.photo-title {
  background: $white;
  border-bottom: solid 7px $orange;
  height: 70px;
  letter-spacing: 3px;
  padding: 0 14px;
}

.photo-description {
  margin: 0;
  max-width: 310px;
  padding: 14px 21px;
}

.photo-description:after {
  background: $blue;
  content: ' ';
  display: block;
  height: 3.5px;
  margin: 14px 0 0;
  width: 140px;
}

.close-link {
  background: #FFF;
  color: $brown;
  font-size: 0;
  height: 63px;
  position: absolute;
  right: 0;
  top: 0;
  width: 77px;
  z-index: 22;
}

.close-link:after {
  content: $close;
  display: block;
  font-family: bn-glyphs;
  font-size: 35px;
  font-weight: 700;
  position: absolute;
  right: 21px;
  top: 14px;
  z-index:7;
}

.close-link:hover {
  background: $brown;
  color: $white;
}

.prev-link, .next-link {
  display: block;
  font-size:0;
  left: 0;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 50%;
  top: calc(50% - 42px);
  width: 63px;
  z-index: 22;
}

.next-link {
  left: auto;
  right: 21px;
}

.container-photo .prev-link:before, .container-photo .next-link:after {
  background: rgba(255,255,255,0.6);
  color: $brown;
  content: $chev-left;
  display:block;
  font-family: bn-glyphs;
  left: 0;
  padding: 7px 0;
  position: absolute;
  font-size: 70px;
  font-weight: 100;
  text-align: center;
  text-decoration: none;
  top: 0;
  width: 56px;
  z-index: 21;
}

.container-photo .next-link:after {
  left: auto;
  content: $chev-right;
  right: 0;
}

.container-photo .prev-link:hover:before, .container-photo .next-link:hover:after {
  background: $brown;
  color: $white;
}


@media(max-width: 991px) {
  body.photo .container-pull-right {
    width: 100%;
  }

  .container-photo {
    height: auto;
    max-width: 991px;
    padding: 0;
  }

  .photo-description {
    clear: both;
    max-width: 991px;
    padding: 14px 21px;
  }

  .prev-link, .next-link {
    top: 50%!important;
    top: calc(50% - 42px)!important;
  }

  .next-link {
    right: 0;
  }
}

@media(max-width: 767px) {

  .thumbnails {
    background: $grey;
    padding-top: 14px;

    h3 {
      color: $pure-white;
    }

    .container-image.thumbnail {
      margin: 28px 0;
    }

    .container-image.thumbnail a:after {
      background: rgba(250, 247, 242, 0.49);
      right: 14px;
    }
  }

  .fixed + .container-video {
    max-width: 767px;
    padding: 0;
    width: 100%;
  }

  .container-photo img {
    position: relative;
    top: 0;
    transform: none;
  }

}


@media(max-width: 480px) {
  .prev-link, .next-link {
    top: 50%!important;
    top: calc(50% - 18px)!important;
  }

  .container-photo .prev-link:before, .container-photo .next-link:after {
    font-size: 35px;
    padding: 0;
    width: 28px;
  }
}