
.photo .page-content {
  background: #FFF;
}

.container-photo {
  height: calc(100vh - 70px);
  overflow: hidden;
  padding: 21px 21px 21px 0;
  position: relative;
}

.fixed + .container-photo {
  max-width: calc(100% - 310px);
  width: auto;
}

.container-photo img {
  display: block;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  width: auto;
}

.photo-title {
  background: $white;
  border-bottom: solid 7px $orange;
  height: 70px;
  letter-spacing: 3px;
  padding: 0 14px;
}

.photo-description {
  margin: 35px 35px 14px 21px;
}

.photo-description:after {
  background: $blue;
  content: ' ';
  display: block;
  height: 3.5px;
  margin: 14px 0 0;
  width: 140px;
}

.close-link {
  color: $brown;
  font-size: 0;
  height: 62px;
  position: absolute;
  right: 0;
  top: 0;
  width: 77px;
  z-index: 22;
}

.close-link:after {
  content: '\e913';
  display: block;
  font-family: bn-glyphs;
  font-size: 35px;
  font-weight: 700;
  position: absolute;
  right: 14px;
  top: 14px;
  z-index:7;
}

.close-link:hover {
  background: $brown;
  color: $white;
}

.prev-link, .next-link {
  display: block;
  font-size:0;
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 0;
  width: 63px;
  z-index: 22;
}

.next-link {
  left: auto;
  right: 21px;
}

.container-photo .wrap {
  display: block;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  width: auto;
}

.container-photo .wrap:before, .container-photo .wrap:after {
  background: rgba(255,255,255,0.6);
  color: $brown;
  content: '\e914';
  display:block;
  font-family: bn-glyphs;
  left: 0;
  margin-top: -38.5px;
  padding: 7px 0 0;
  position: absolute;
  font-size: 70px;
  font-weight: 100;
  text-align: center;
  text-decoration: none;
  top: 50%;
  width: 56px;
  z-index: 21;
}

.container-photo .wrap:after {
  left: auto;
  content: '\e915';
  right: 21px;
}

@media(max-width: 479px) {

  .close-link:after {
    color: $white;
  }

  .fixed {
    background: #FFF;
    bottom: 0;
    position:absolute;
    width: 100%;
    z-index: 3;
  }

  .fixed + .container-photo {
    max-width: 767px;
    padding: 0;
  }

  .container-photo img {
    position: relative;
    top: 7px;
    transform: none;
  }

  .photo-description {
    font-size: 12pt;
    margin: 7px 21px 14px;
  }

  .next-link {
    right: 0;
  }

  .container-photo .wrap:after {
    right: 0;
  }


}