
#homepage-tiles {
    padding-top: 149px;
}

.tiles {
    background: $white;
    padding: 105px 0 70px;
    position: relative;
}

.tiles  h1, .tiles  h2 {
    color: $white;
    background: $orange;
    display: inline-block;
    font-family: $cursive-font;
    left: 50%;
    line-height: 1.1;
    margin: 0;
    padding: 7px 21px 21px;
    position: absolute;
    text-align: center;
    top: -1px;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

@media(max-width: 991px) {
    .tiles {
        padding: 105px 35px 70px;
    }
}

@media(max-width: 767px) {
    #homepage-tiles {
        padding-top: 196px;
    }

    .tiles {
        padding: 105px 0 21px;
    }
}


.tile {
    border-radius: 3px;
    font-size: 14px;
    margin-bottom: 35px;

    * {
        text-decoration :none;
    }

    h3 {
        padding: 14px 21px 0;
    }

    h4 {
        padding: 7px 21px 0;
    }

    small + h3 {
        padding: 0 21px 0;
    }

    p {
        padding: 0 21px 14px;
    }

    a {
        background: $pure-white;
        border: solid 1px;
        border-radius: 3px;
        display:block;
        padding-bottom: 49px;
        position:relative;
    }

    a:after {
        background: $pure-white;
        border: solid 1px;
        border-radius: 50%;
        bottom: 14px;
        content: $arrow;
        display: block;
        font-family: $glyph-font;
        font-size: 14pt;
        font-weight: 700;
        height: 49px;
        left: 50%;
        margin-left: -24.5px;
        padding: 14px 0 0;
        position: absolute;
        text-align: center;
        width: 49px;
    }

    .container-image {
        position: relative;
    }

    .container-image:after {
        content: ' ';
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        border-bottom: 14px solid $pure-white;
        display: block;
        height: 0;
        bottom: -1px;
        position: absolute;
        left: 21px;
        width: 0;
        z-index: 49;
    }

    @media(max-width: 991px) {
        margin: 7px auto 14px;

        a {
            min-height: 0;
        }
    }

    @media(max-width: 767px) {
        a {
            padding-bottom: 49px;
        }

        .container-image {
            float: none;
            margin-right: auto;
            width: 100%;
        }
    }
}


.tile.horizontal-variant {
    margin-bottom: 14px;

    small {
        display: inline-block;
        margin: 14px 0 -14px;
    }

    p {
        margin: 0;
    }

    a {
        border: none;
        padding-bottom: 0;
    }

    a:after {
        bottom: 0;
        left: 33%;
        margin-left: 7px;
        transform: scale(0.7);
    }

    img {
        border-radius: 3px 0 0 3px;
        height: 100%;
        object-fit: cover;
        text-align: center;
    }

    .container-image {
        float: left;
        height: 175px;
        margin-right: 14px!important;
        width: 33%;
    }

    .container-image:after {
        content: ' ';
        border-bottom: 14px solid transparent;
        border-top: 14px solid transparent;
        border-right: 14px solid #FFFFFF;
        display: block;
        height: 0;
        left: auto;
        right: -1px;
        position: absolute;
        top: 21px;
        width: 0;
        z-index: 49;
    }

    @media(max-width: 767px) {
        a:after {
            left: auto;
            right: 7px;
        }

        .container-image:after {
            display: none;
        }
    }
}


.tile.showcase-variant {

    a {
        padding-bottom: 0;
    }

    a:after {
        bottom: 35px;
        left: auto;
        transform: scale(1.4);
        right: 35px;
    }

    p {
       font-size: initial;
        padding: 0;
    }

    .feature-block {
        float: left;
        max-width: 50%;
    }

    .container-image {
        float: left;
        max-width: 50%;
    }

    .container-image:after {
        content: ' ';
        border-bottom: 28px solid transparent;
        border-top: 28px solid transparent;
        border-right: 28px solid #FFFFFF;
        display: block;
        height: 0;
        left: auto;
        right: -1px;
        position: absolute;
        top: 35px;
        width: 0;
        z-index: 49;
    }
}


.tile {
    &.orange {
        a {
            border-color: $orange;
        }
        a:after {
            color: $orange;
        }
        a:hover:after {
            background: $orange;
            color: $white;
        }
    }
    &.brown {
        a {
            border-color: $brown;
        }
        a:after {
            color: $brown;
        }
        a:hover:after {
            background: $brown;
            color: $white;
        }
    }
    &.blue {
        a {
            border-color: $blue;
        }
        a:after {
            color: $blue;
        }

        a:hover:after {
            background: $blue;
            color: $white;
        }
    }
    &.green {
        a {
            border-color: $green;
        }
        a:after {
            color: $green;
        }
        a:hover:after {
            background: $green;
            color: $white;
        }
    }
    &.yellow {
        a {
            border-color: $yellow;
        }
        a:after {
            color: $yellow;
        }
        a:hover:after {
            background: $yellow;
            color: $white;
        }
    }
}



