
#homepage-tiles {
    padding-top: 149px;
}

.tiles {
    background: $white;
    padding: 105px 0 70px;
    position: relative;
    text-align: center;
}

.tiles  h1, .tiles  h2 {
    color: $white;
    background: $orange;
    display: inline-block;
    font-family: $cursive-font;
    left: 50%;
    line-height: 1.1;
    margin: 0;
    padding: 7px 21px 21px;
    position: absolute;
    top: -1px;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.tile {
    font-size: 14px;
    margin-bottom: 35px;
}

.tile.ess .container-image:after {
    content: ' ';
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid #FFFFFF;
    display: block;
    height: 0;
    bottom: -1px;
    position: absolute;
    left: 21px;
    width: 0;
    z-index: 49;
}

.tile * {
    text-decoration :none;
}

.tile .container-image {
    position: relative;
}

.tile img {
    border-radius: 2px 2px 0 0;
    width: 100%;
}

.tile h3 {
    padding: 14px 21px 0;
}

.tile h4 {
    padding: 7px 21px 0;
}

.tile small + h3 {
    padding: 0 21px 0;
}

.tile p {
    padding: 0 21px 14px;
}

.tile a {
    background: $pure-white;
    border: solid 1px;
    border-radius: 3px;
    display:block;
    position:relative;
}

.tile a:after {
    background: $pure-white;
    border: solid 1px;
    border-radius: 50%;
    content: $arrow;
    display: block;
    font-family: $glyph-font;
    font-size: 14pt;
    font-weight: 700;
    height: 49px;
    left: 50%;
    margin-left: -24.5px;
    padding: 14px 0 0;
    position: absolute;
    text-align: center;
    bottom: 14px;
    width: 49px;
}

.tile.orange a:after {
    color: $orange;
}

.tile.orange a:hover:after {
    background: $orange;
    color: $white;
}

.tile.brown a:after {
    color: $brown;
}

.tile.brown a:hover:after {
    background: $brown;
    color: $white;
}

.tile.blue a:after {
    color: $blue;
}

.tile.blue a:hover:after {
    background: $blue;
    color: $white;
}

.tile.green a:after {
    color: $green;
}

.tile.green a:hover:after {
    background: $green;
    color: $white;
}

.tile.yellow a:after {
    color: $yellow;
}

.tile.yellow a:hover:after {
    background: $yellow;
    color: $white;
}

.tile.orange a,
.tile.orange.exp a {
    border-color: $orange;
}

.tile.brown a,
.tile.brown.exp a {
    border-color: $brown;
}

.tile.blue a,
.tile.blue.exp a {
    border-color: $blue;
}

.tile.green a,
.tile.green.exp a {
    border-color: $green;
}

.tile.yellow a,
.tile.yellow.exp a {
    border-color: $yellow;
}

/*#homepage-tiles > div:nth-child(1) .container-image,
#homepage-tiles > div:nth-child(2) .container-image {
    float: right;
}*/

.tile.horz {
    margin-bottom: 14px;
    text-align: left;
}

.tile.horz  .container-image {
    margin-right: 14px!important;
}

.tile.horz .container-image {
    float: left;
    width: 50%;
}

.tile.horz .container-image:after {
    content: ' ';
    border-bottom: 14px solid transparent;
    border-top: 14px solid transparent;
    border-right: 14px solid #FFFFFF;
    display: block;
    height: 0;
    right: -1px;
    position: absolute;
    top: 21px;
    width: 0;
    z-index: 49;
}

.tile.horz small {
    display: inline-block;
    margin: 14px 0 -14px;
}

.tile.horz p {
    margin: 0;
}

.tile.horz a {
    border: none;
}

.tile.horz a:after {
    bottom: 0;
    left: 33%;
    margin-left: 7px;
    transform: scale(0.7);
}

.tile.horz .container-image {
    height: 175px;
    width: 33%;
}

.tile.horz img {
    border-radius: 3px 0 0 3px;
    border-bottom: none;
}

.tile.horz img {
    height: 100%;
    object-fit: cover;
    text-align: center;
}

.tile.horz a {
    padding-bottom: 0;
}

.tile.oversize {
    height: 329px;
    overflow: hidden;
}

.tile.oversize .container-image {
    margin: 0 auto;
}

/*
.tile.full {
    background: $pure-white;
    border-bottom: solid 1px $off-white;
    font-size: inherit;
    margin-bottom: 0;
    padding: 49px 105px;
}

.tile.full small {
    display: block;
    padding: 21px;
}

.tile.full a {
    border: none;
}

.tile.full > div:first-child a:after {
    display: none;
}

.tile.full > div + div a:after {
    bottom: -49px;
    left: 0;
    margin-left: 21px;
}

.tile.full > div + div {
    padding-top: 21px;
}

.tile.full:nth-child(even) > div:first-child {
    float: right;
}*/



@media(max-width: 991px) {
    .tiles {
        padding: 105px 35px 70px;
    }

    .tile {
        margin: 7px auto 14px;
    }

    .tile.ess {
        margin: 7px auto 14px;
        max-width: 560px;
    }

    .tile.exp .container-image {
        float: left;
        margin-right: 14px;
        width: 50%;
    }

    .tile.exp img {
        border-radius: 3px 0 0 3px;
        border-bottom: none;
    }

    .tile a {
        min-height: 0;
    }

    .tile.exp a:after {
        left: 75%;
    }

    /*.tile.full {
        padding: 35px;
    }

    .tile.full > div + div {
        padding-top: 0;
    }*/
}

@media(max-width: 767px) {

    .tiles {
        padding: 105px 0 21px;
    }

    .tile a {
        min-height: 0;
        padding-bottom: 49px;
    }

    .tile h2 {
        padding: 28px 0 0;
    }

    .tile a:after,
    .tile.exp a:after {
        left: 50%;
    }

    .tile.horz a:after {
        left: auto;
        right: 7px;
    }

    .tile .container-image,
    .tile.exp .container-image {
        float: none;
        margin-right: auto;
        width: 100%;
    }

    .tile img,
    .tile.exp img {
        border-radius: 7px 7px 0 0;
        border-right: none;
    }

    #homepage-tiles {
        padding-top: 196px;
    }



    /*.tile.full {
        padding: 21px;
    }

    .tile.full img {
        border-radius: 0;
    }

    .tile.full small {
        padding: 7px 21px;
    }

    .tile.full a {
        padding-bottom: 14px;
    }

    .tile.full:nth-child(even) > div:first-child {
        float: none;
    }

    .tile.full > div + div a:after {
        bottom: -14px;
        margin-left: 14px;
        transform: scale(0.7);
    }*/
}
