<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="{{page.section}}">

    {% include header.html %}

    <div class="page-content">
      {{ content }}
      <div class="col-xs-12" style="text-align: right">
        <a href="{{ '/essentials/virtual-birding.html' | prepend: site.baseurl }}" class="button virtual-birding"><span>Virtual birding</span></a>
      </div>
    </div>

    {% include footer.html %}

  </body>

  <style id="birdSearchFilter">
    /* dynamically generated CSS will be put in here */
  </style>
</html>
