<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="photo {{page.section}}">

    {% include header-light.html %}
    <a class="close-link" href="~" onclick="window.history.back();return false;">Close</a>

    <main class="page-content">

      <div class="fixed">
        <div class="photo-description">
          <h4>{{ page.position}}</h4>
          <p>{{ page.description}}</p>
        </div>
      </div>

      <div class="container-photo">
          {{ content }}

              {% if page.previousOverride %}
              <a class="prev-link" href="#" onclick="window.location.replace( '{{page.previousOverride | prepend: site.baseurl}}' );">Previous</a>
              {% else %}
              <a class="prev-link" href="#" onclick="window.location.replace( '{{page.previous.url | prepend: site.baseurl}}' );">Previous</a>
              {% endif %}

              {% if page.nextOverride %}
              <a class="next-link" href="#" onclick="window.location.replace( '{{page.nextOverride | prepend: site.baseurl}}' );">Next</a>
              {% else %}
              <a class="next-link" href="#" onclick="window.location.replace( '{{page.next.url | prepend: site.baseurl}}' );">Next</a>
              {% endif %}

        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
    </main>

    <!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
    <script type="text/javascript">
        $(document).ready(function() {
            
            $(".container-photo img").load( function(){
                var h = $(this).height();
                if(h) {
                    h = h / 2 - 21;
                    $(".next-link, .prev-link").css("top", h + "px");
                }
            });

            $(".next-link, .prev-link").on("click", function(e) {
                e.preventDefault();
            });
        });
    </script>
  </body>

</html>
