<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="photo {{page.section}}">

{% include header-light.html %}
<a class="close-link" href="~" onclick="window.history.back();return false;">Close</a>

<main class="page-content clearfix">

    <div class="container-pull-right clearfix">
        <div class="container-photo">
            {{ content }}

            {% if page.previousOverride %}
            <a class="prev-link" href="#" onclick="window.location.replace( '{{page.previousOverride | prepend: site.baseurl}}' );">Previous</a>
            {% else %}
            <a class="prev-link" href="#" onclick="window.location.replace( '{{page.previous.url | prepend: site.baseurl}}' );">Previous</a>
            {% endif %}

            {% if page.nextOverride %}
            <a class="next-link" href="#" onclick="window.location.replace( '{{page.nextOverride | prepend: site.baseurl}}' );">Next</a>
            {% else %}
            <a class="next-link" href="#" onclick="window.location.replace( '{{page.next.url | prepend: site.baseurl}}' );">Next</a>
            {% endif %}
        </div>
    </div>

    <div class="photo-description">
        <p>{{ page.description}}</p>
    </div>
</main>

<script type="text/javascript">

    function overridePrevNext() {
        var prevNext = document.querySelectorAll(".prev-link, .next-link");
        for(var i=0; i < prevNext.length; i++) {
            prevNext[i].addEventListener("click", function(e){e.preventDefault()})
        }
    }

    function positionPrevNext() {
        var w = document.querySelector(".container-pull-right").offsetWidth - 21;
        var h = document.querySelector(".container-pull-right").offsetHeight - 42;
        var prevNext = document.querySelectorAll(".prev-link, .next-link");
        if(w / h < 1.5) {
            var top = (w * (2 / 3 )) / 2;
            for(var i=0; i < prevNext.length; i++) {
                prevNext[i].style.top =  top + 10.5 + 'px';
            }
        }
    }

    overridePrevNext();
    positionPrevNext();
    window.addEventListener("resize", positionPrevNext);
</script>
</body>

</html>
