---
layout: default
---
<article class="post inner-page expeditions" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="content">
        {{ content }}
    </div>
</article>

<section class="updates container-fluid">
    <h1>Next Expedition</h1>
    <div class="inner-page">
        {% assign idx = 1 %}
        {% assign nxt = 0 %}
        {% for post in site.posts offset:1 %}
            {% if post.categories contains 'expeditions' %}
                {% if post.permalink == page.permalink %}
                    {% break %}
                {% else %}
                    {% assign nxt = idx %}
                {% endif %}
            {% endif %}
            {% assign idx = idx | plus:1 %}
        {% endfor %}

        {% for post in site.posts offset:nxt limit:1 %}
            <div class="col-xs-12 update {{ post.categories | join: ' ' }}">
                <a href="{{ post.permalink | prepend: site.baseurl }}">
                    <div class="container-image">
                        <img src="{{"/images/" | prepend: site.baseurl | append: post.thumbnail}}" alt="">
                    </div>
                    <h2>{{post.title}}</h2>
                    <p>{{post.description}}</p>
                    <div class="clearfix"></div>
                </a>
            </div>
            <div class="clearfix"> </div>
        {% endfor %}
    </div>
</section>