---
layout: default
---

<article class="post inner-page" id="expedition-article" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="content" style="background: #FFF;">
        {{ content }}

        <!-- next button -->

        {% assign idx = 0 %}
        {% assign cnt = 0 %}
        {% assign fountIt = false %}
        {% for post in site.posts %}
            {% if post.categories contains 'expeditions' %}
                {% if foundIt == true %}
                    {% assign cnt = idx %}
                    {% break %}
                {% endif %}
                {% if post.url == page.url %}
                    {% assign foundIt = true %}
                {% endif %}
            {% endif %}
            {% assign idx = idx | plus:1 %}
        {% endfor %}
        {% assign idx = idx | plus:1 %}
        {% for post in site.posts limit:1 offset:cnt %}
            <div class="col-xs-12" style="text-align: right">
                <a href="{{ post.permalink | prepend: site.baseurl }}" class="button next">Next expedition</a>
            </div>
            <div class="clearfix"></div>
        {% endfor %}
    </div>
</article>

<div class="container-fluid">

    <div class="inner-page tiles" style="border-top: solid 7px #E45238;">
        <h2>More adventures</h2>

        {% assign maxRelated = 2 %}
        {% assign minCommonTags =  3 %}
        {% assign maxRelatedCounter = 0 %}

        {% for post in site.posts offset: cnt %}

            {% assign sameTagCount = 0 %}
            {% assign commonTags = '' %}

            {% for category in post.categories %}
                {% if post.categories contains 'expeditions' %}
                {% if post.url != page.url %}
                    {% if page.categories contains category %}
                        {% assign sameTagCount = sameTagCount | plus: 1 %}
                        {% capture tagmarkup %} <span class="label label-default">{{ category }}</span> {% endcapture %}
                        {% assign commonTags = commonTags | append: tagmarkup %}
                    {% endif %}
                {% endif %}
                {% endif %}
            {% endfor %}

            {% if sameTagCount >= minCommonTags %}
                <div class="col-xs-12 col-md-6 tile horz blue">
                    <a href="{{ post.permalink | prepend: site.baseurl }}">
                        <div class="container-image">
                            <img src="{{'/images/' | prepend: site.baseurl | append: post.thumbnail}}" alt="">
                        </div>
                        <h3>{{post.title}}</h3>
                        <p>{{post.description | truncate: 70}}</p>
                        <div class="clearfix"></div>
                    </a>
                </div>
                {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
                {% if maxRelatedCounter >= maxRelated %}
                    {% break %}
                {% endif %}
            {% endif %}

        {% endfor %}


        {% if maxRelatedCounter < maxRelated %}
        {% for post in site.posts limit: cnt %}

        {% assign sameTagCount = 0 %}
        {% assign commonTags = '' %}

        {% for category in post.categories %}
        {% if post.categories contains 'expeditions' %}
        {% if post.url != page.url %}
        {% if page.categories contains category %}
        {% assign sameTagCount = sameTagCount | plus: 1 %}
        {% capture tagmarkup %} <span class="label label-default">{{ category }}</span> {% endcapture %}
        {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
        {% endif %}
        {% endif %}
        {% endfor %}

        {% if sameTagCount >= minCommonTags %}
        <div class="col-xs-12 col-md-6 tile horz blue">
            <a href="{{ post.permalink | prepend: site.baseurl }}">
                <div class="container-image">
                    <img src="{{'/images/' | prepend: site.baseurl | append: post.thumbnail}}" alt="">
                </div>
                <h3>{{post.title}}</h3>
                <p>{{post.description | truncate: 70}}</p>
                <div class="clearfix"></div>
            </a>
        </div>
        {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
        {% if maxRelatedCounter >= maxRelated %}
        {% break %}
        {% endif %}
        {% endif %}

        {% endfor %}

        {% endif %}

        {% if maxRelatedCounter == 0 %}
        <div class="col-xs-12">
            <p><h3>Oops, we couldn't find any related expeditions.</h3></p>
            <p><a href="{{ '/expeditions/' | prepend: site.baseurl }}" class="button">See all expeditions</a></p>
        </div>
        {% endif %}
        <div class="clearfix"> </div>
    </div>
</div>
