---
layout: default
---
<article class="post inner-page expeditions" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="content">
        {{ content }}
    </div>
</article>



<div class="container-fluid">

    <div class="inner-page updates" style="border-top: solid 7px #E45238;">
        <h2>Continue reading</h2>

        {% assign maxRelated = 4 %}
        {% assign minCommonTags =  2 %}
        {% assign maxRelatedCounter = 0 %}

        {% for post in site.posts %}

            {% assign sameTagCount = 0 %}
            {% assign commonTags = '' %}

            {% for category in post.categories %}
                {% if post.categories contains 'expeditions' %}
                {% if post.url != page.url %}
                    {% if page.categories contains category %}
                        {% assign sameTagCount = sameTagCount | plus: 1 %}
                        {% capture tagmarkup %} <span class="label label-default">{{ category }}</span> {% endcapture %}
                        {% assign commonTags = commonTags | append: tagmarkup %}
                    {% endif %}
                {% endif %}
                {% endif %}
            {% endfor %}

            {% if sameTagCount >= minCommonTags %}
                <div class="col-xs-12 col-md-3 update {{ post.categories | join: ' ' }}">
                    <a href="{{ post.permalink | prepend: site.baseurl }}">
                        <div class="container-image">
                            <img src="{{"/images/" | prepend: site.baseurl | append: post.thumbnail}}" alt="">
                        </div>
                        <h3>{{post.title}}</h3>
                        <p>{{post.description}}</p>
                        <div class="clearfix"></div>
                    </a>
                </div>
                {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
                {% if maxRelatedCounter >= maxRelated %}
                    {% break %}
                {% endif %}
            {% endif %}

        {% endfor %}
        <div class="clearfix"> </div>
    </div>
</div>
